body {
    padding-top: 10px;
    padding-bottom: 40px;
    background-image: url("../img/batik.jpg");
 }
 .sidebar-nav {
    padding: 9px 0;
 }

 .back-to-top {
     position: fixed;
     bottom: 2em;
     right: 0px;
     text-decoration: none;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
     color: #000000;
     background-color: rgba(235, 235, 235, 0.80);
     font-size: 12px;
     padding: 1em;
     display: none;
     
 }

 .back-to-top:hover {    
    
 }

 .marquee {
      margin-top:5px;
      overflow: hidden;
      border: 1px solid #ccc;
      background: #ccc;
      height:20px;
 }